{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": 3,
                "modules": false,
                "useBuiltIns": "entry",
                "targets": {
                    "ie": 11
                }
            }
        ],
        "@babel/preset-react"
    ],
    "ignore": [
        "__storage__",
        "build",
        "docs",
        "externals",
        "node_modules"
    ]
}